.prompt {
    color: white;
    background-color: black;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    height: 90vh;
    width: 90%;
    margin: auto;
    position: relative;
}

.prompt--cmd {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 2em;
    background-color: #36454F;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}


input :focus {
    outline: none;
    border: none;
}